@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YekanBakh";
  src: url("/assets/fonts/YekanBakh-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/assets/fonts/YekanBakh-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/assets/fonts/YekanBakh-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*html, body {*/
/*  direction: rtl;*/
/*  background: var(--background-color, #ffffff);*/
/*  color: var(--text-color, #171717);*/
/*  font-family: "YekanBakh", sans-serif;*/
/*  height: 100%;*/
/*  margin: 0;*/
/*}*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "YekanBakh", sans-serif;
}
.rtl{
  direction: rtl;
}
